<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rem">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_remlogo"
        android:label="Recruit &apos;EM"
        android:roundIcon="@mipmap/ic_remlogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".AdminNavigation"
            android:label="@string/title_activity_admin_navigation"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity android:name=".recruiter_password" />
        <activity android:name=".student_password" />
        <activity
            android:name=".RecruiterNavigation"
            android:label="@string/title_activity_recruiter_navigation"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".StudentNavigation"
            android:label="@string/title_activity_student_navigation"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".AboutUs" />
        <activity android:name=".RecruiterRegister" />
        <activity android:name=".StudentRegister" />
        <activity android:name=".RecruiterLogin" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".LoginOption" />
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
    </application>

</manifest>